<html>
    <head>
        <title>OSM-FSFTN Mapjam Registration</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/css/skeleton.css">
    </head>
    <body>
        <div class="container" style="margin-top: 100px">
        <h4 style="text-align: center">{{ message }}</h4>

        <p style="text-align: center">
           Watch the <a href="/leaderboard">Leaderboard</a> for your
            contributions.</p>
        </div>
    </body>
</html>
